*{
    padding: 0;
    margin: 0;
}

#padding-margin0{
    padding: 0;
    margin: 0;
}

.archivo-black-regular {
    font-family: "Archivo Black", Omnibus-Type;
    font-weight: 400;
    font-style: normal;
  }

header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 150px;
    background: url(../assets/imagenes/patron\ cn\ xde.png);
}

.header2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

h1{
    color: #ED008C;
    padding-left: 50px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    width: 100%;
    height: 100px;
    background: url(../assets/imagenes/fondomenu.png);

}

.fondo{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.series{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

h2{
    color: black;
}

h2:hover{
    transform: scale(1.2);
}

.contenedor-tituloJ{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ED008C;
}

.tituloJ{
    font-size: 40px;
    padding-top: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient( #ED008C, #FFF000, #00AEEF);
    height: 500px;
}

.juego{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.juego:hover{
    transform: scale(1.05);
}

.juegoCopa h3{
    font-size: 20px;

}

.imagenJuego{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.contenedor-video{
    width: 100%;
    height: 400px;
    background: url(../assets/imagenes/patron\ cn\ xde.png);
    overflow: hidden;
}


.fondo1{
    padding-top: 15px;
    display: flex;
    justify-content: center;

}

#footer{
    margin: 0;
    padding: 0;
}

.Copyright{
    color: white;
}

footer{
    height: 500px;
    background-color: #262626;
    display: block;
}

.parrafo1{
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
}

.parrafo1 p{
    color: white;
    text-align: center;
}

.parrafo1 h2{
    text-align: center;
}

.redes{
    height: 50px;
    display: flex;
    justify-content: center;
}

#ajuas{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1023px){
    header{
        height: 300px;
    }
    video{
        height: 100%;
        width: 90%;
    }
    main{
        height: 1500px;
    }
    footer{
        height: 400px;
    }
    .redes{
        padding-left: 0px;
    }
    
}