*{
    padding: 0;
    margin: 0;
}

.contenedor{
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #00B3F2;
}

.fondo{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#linea-titulo{
    margin: 0;
    padding: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../assets/imagenes/patron\ cn\ xde.png);
}

.titulo{
    height: 50px;
    justify-content: center;
    display: flex;
}

#fondo-princ{
    margin: 0;
    padding: 0;
}

.titulo h1{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


.texto1{
    height: 500px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto2{
    height: 500px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto3{
    height: 500px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto p{
    font-size: large;
    margin: 50px;
}

.texto strong{
    display: block;
    font-size: 30px;
}

article{
    width: 250px;
    position: relative;
    transition: all .3s ease;
}

article .imagen:first-child {
    /*box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);*/
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article .imagen2:last-child{
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

article:hover{
    transform: 
        perspective(250px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0);
}

article::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before{
    opacity: 1;
}

article:hover .imagen2:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.circulo{
    height: 250px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capa p{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.circulo1{
    background-color: #ED0B91;
}

.circulo2{
    background-color: #F0E502;
}

.circulo3{
    background-color: #00B3F2;
}

.circulo figure{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.circulo figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.circulo figure .capa{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}

.circulo figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 768px){
    .texto1{
        height: 700px;
    }
    .texto2{
        height: 750px;
    }
    .texto3{
        height: 925px;
    }
    footer{
        height: 400px;
    }
    .redes{
        padding-left: 0px;
    }
}

#footer{
    margin: 0;
    padding: 0;
}

.Copyright{
    color: white;
}

footer{
    height: 500px;
    background-color: #262626;
    display: block;
}

.parrafo1{
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
}

.parrafo1 p{
    color: white;
    text-align: center;
}

.parrafo1 h2{
    text-align: center;
}

.redes{
    height: 50px;
    display: flex;
    justify-content: center;
}